@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
    object-fit: contain;
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
span,
i,
input,
form,
img,
a,
label,
.navbar,
.btn {
    padding: 0;
    margin: 0;
}

.banner {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.anim (@v) {
    -webkit-transition: @v;
    -moz-transition: @v;
    -ms-transition: @v;
    -o-transition: @v;
    transition: @v;
}

.trans(@string) {
    -webkit-transform: @string;
    -moz-transform: @string;
    -ms-transform: @string;
    -o-transform: @string;
    transform: @string;
}

.opacity (@opacity) {
    -webkit-opacity: @opacity;
    -moz-opacity: @opacity;
    opacity: @opacity;
}

.bor (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;

    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow: @string;
    box-shadow: @string;
}

.abs {
    position: absolute;
    content: '';
}

.title {
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 30px;
    text-align: center;

    &::after {
        .abs;
        bottom: 0;
        left: 50%;
        .trans(translateX(-50%));
        width: 20%;
        height: 3px;
        background: #e6153e;
    }

    &::before {
        .abs;
        bottom: 15px;
        left: 50%;
        .trans(translateX(-50%));
        width: 30%;
        height: 3px;
        background: #e6153e;
    }
}

body {
    overflow-x: hidden;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 28px;
    color: #f0f8ff;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.8;
    font-weight: 600;
}

header {
    background: #2f4f4f;

    .logo_part {
        padding-top: 50%;
        .trans(translateY(-50%));

        .logo {
            width: 100%;
            height: 100%;
        }
    }


    .date {
        text-align: center;
        color: #ffffff;

    }

    ul {
        float: right;
        padding: 10px 0;
        background: #778899;

        li {
            background: #778899;

            a.btn {
                .anim(0.4s);
                padding: 8px 20px;
                display: block;

                i {
                    color: #ffffff;
                    font-size: 18px;
                }


            }

            .fb {
                &:hover {
                    background: #1773EA;
                }

            }

            .youtube {
                &:hover {
                    background: #F70000;
                }

            }

            .twitter {
                &:hover {
                    background: #1C9CEA;
                }
            }
        }
    }
}

.navigation {
    background: #e6153e;

    .navbar {
        .navbar-nav {
            display: block;

            .nav-item {
                float: left;
                display: block;
                position: relative;
                .anim(0.4s);

                &::after {
                    .abs;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 2px;
                    background: #222222;
                }

                .nav-link {
                    padding: 20px 10px;
                    .anim(0.4s);
                    color: #ffffff;
                    font-size: 16px;
                    font-weight: 500;

                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

                &:hover {
                    .nav-link {
                        background: #8b0707;
                    }
                }
            }
        }
    }
}

.about {
    padding: 70px 0;
    background: #202c2b;

    h3 {
        font-weight: 600;
        font-size: 25px;
        margin: 30px 0;
        padding-bottom: 10px;
        position: relative;
        line-height: 1.8;
        color: #f1f1f1;

        &::after {
            .abs;
            width: 100%;
            height: 1px;
            background: #e6153e;
            bottom: 0;
            left: 0;
        }

    }

    p {
        font-weight: 500;
        font-size: 18px;
        color: #f1f1f1;
        line-height: 1.8;
    }
}

.study {
    padding: 90px 0;

    .book {
        padding: 20px;
        background: #e6153e;
        .bor(10px);
        width: 75%;
        overflow: hidden;
        position: relative;
        .anim(0.4s);

        .book_img {
            width: 100%;
            .bor(10px);
            background: #f1f1f1;
            display: inline-block;
            overflow: hidden;
            height: 160px;
            margin-bottom: 30px;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .book_text {
            padding-bottom: 15px;
            text-align: center;

            h4 {
                font-size: 20px;
                font-weight: 600;
                color: #f1f1f1;
            }
        }

        &:hover {
            .shadow(9px 10px 23px -10px rgba(0, 0, 0, 0.75));
        }
    }
}

.videos {
    background: #f8f8f8;
    padding: 90px 0;

    .btn_set {
        margin-bottom: 45px;

        .vid_btn {
            padding: 10px 20px;
            width: auto;
            margin: 0 25px;
            font-size: 18px;
            font-weight: 300;
            float: left;
        }

        .vid_btn[aria-expanded="true"] {
            background: #e6153e;
            border: 1px solid #e6153e;
            color: #f1f1f1;
        }

        .vid_btn[aria-expanded="false"] {
            color: #222222;
            background: #f1f1f1;
            border: 1px solid #f1f1f1;
        }
    }

    .video_pan {
        .single-video {
            width: 100%;
            height: 250px;
            .anim(0.4s);

            &:hover {
                .shadow(9px 10px 23px -10px rgba(0, 0, 0, 0.75));
            }
        }

    }

    .accordion-collapse {
        border: 0;
    }

    .accordion-button::after {
        display: none;
    }

    .collapsing {
        .anim(0.4s);
    }
}

.ibadat {
    padding: 90px 0;

    .business_set,
    .btn_set {
        margin-bottom: 45px;

        .filt_btn {
            padding: 10px 20px;
            width: auto;
            margin: 0 25px;
            font-size: 18px;
            font-weight: 300;
            float: left;
            background: #ffffff;
            color: #222222;
            .anim(0.4s);
            border: 1px solid #222222;

            &:hover {
                .shadow(9px 10px 23px -10px rgba(0, 0, 0, 0.75));
            }
        }

        .active.filt_btn {
            background: #e6153e;
            color: #f1f1f1;
            border: 1px solid #e6153e;
            .shadow(9px 10px 23px -10px rgba(0, 0, 0, 0.75));

        }
    }

    .article_box {
        .article {
            background: #f8f8f8;
            width: 100%;
            .anim(0.4s);
            position: relative;
            padding: 25px 15px;
            margin-bottom: 30px;

            .art_title {
                margin: 15px 0;
                padding-bottom: 15px;
                text-align: center;
                position: relative;

                &::after {
                    .abs;
                    bottom: 0;
                    width: 75%;
                    height: 2px;
                    background: #e6153e;
                    left: 50%;
                    .trans(translateX(-50%));
                }

                h4 {
                    font-size: 20px;
                    font-weight: 500;
                    color: #222222;
                    line-height: 1.8;
                }
            }

            .art_text {
                text-align: left;
                margin-left: 10px;

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #222222;
                    line-height: 1.8;
                }
            }

            .more {
                position: absolute;
                bottom: -10px;
                .anim(0.4s);
                z-index: 12;
                left: 0;
                right: 0;
                .opacity(0);
                width: 100%;
                height: 70px;
                background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, rgba(255, 255, 255, 1) 21%, rgba(255, 255, 255, 1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.67)), color-stop(21%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
                background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, rgba(255, 255, 255, 1) 21%, rgba(255, 255, 255, 1) 100%);
                background: -o-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, rgba(255, 255, 255, 1) 21%, rgba(255, 255, 255, 1) 100%);
                background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, rgba(255, 255, 255, 1) 21%, rgba(255, 255, 255, 1) 100%);
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.67) 0%, rgba(255, 255, 255, 1) 21%, rgba(255, 255, 255, 1) 100%);

                a {
                    padding: 5px 10px;
                    color: #222222;
                    border: 1px solid #222222;
                    font-weight: 600;
                    font-size: 16px;
                    margin-left: 50%;
                    margin-top: 4%;
                    .anim(0.4s);
                    .trans(translateX(-50%));

                    &:hover {
                        background: #e6153e;
                        border: 1px solid #e6153e;
                        color: #f1f1f1;
                    }
                }
            }

            &:hover {
                .shadow(9px 10px 23px -10px rgba(0, 0, 0, 0.75));

                .more {
                    bottom: 0;
                    .opacity(1);
                }
            }
        }
    }
}

.business {
    background: #f1f1f1;
    padding: 90px 0;

    .bus_btn {

        .steps {
            width: 100%;

            button.tab_btn {
                padding: 10px 20px;
                text-align: center;
                color: #222222;
                width: 100%;
                font-size: 18px;
                line-height: 1.8;
                .anim(0.4s);

                &:hover {
                    .shadow(9px 10px 23px -10px rgba(0, 0, 0, 0.75));
                    background: #cccccc;
                }
            }
        }
    }

    .articles {
        width: 100%;
        padding: 15px 10px;

        .business_title {
            position: relative;
            padding-bottom: 8px;
            margin-bottom: 16px;

            &::after {
                .abs;
                bottom: 0;
                left: 50%;
                .trans(translateX(-50%));
                width: 70%;
                height: 2px;
                background: #e6153e;
            }

            h4 {
                color: #222222;
                text-align: center;
                line-height: 1.8;
                font-size: 20px;
            }
        }

        .author {
            margin: 10px 0;

            h5 {
                font-size: 18px;
                line-height: 1.8;
                color: #222222;

                .date {
                    color: #e6153e;
                    font-size: 16px;
                    
                }
            }
        }
    }
}