@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
  object-fit: contain;
}
textarea {
  resize: none;
}
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
span,
i,
input,
form,
img,
a,
label,
.navbar,
.btn {
  padding: 0;
  margin: 0;
}
.banner {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.abs {
  position: absolute;
  content: '';
}
.title {
  position: relative;
  padding-bottom: 35px;
  margin-bottom: 30px;
  text-align: center;
}
.title::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 20%;
  height: 3px;
  background: #e6153e;
}
.title::before {
  position: absolute;
  content: '';
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 30%;
  height: 3px;
  background: #e6153e;
}
body {
  overflow-x: hidden;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 28px;
  color: #f0f8ff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.8;
  font-weight: 600;
}
.p90 {
  padding: 90px 0;
}
header {
  background: #2f4f4f;
}
header .logo_part {
  padding-top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
header .logo_part .logo {
  width: 100%;
  height: 100%;
}
header .date {
  text-align: center;
  color: #ffffff;
}
header ul {
  float: right;
  padding: 15px 0;
  background: #778899;
  height: 100%;
}
header ul li {
  background: #778899;
}
header ul li a.btn {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  padding: 8px 20px;
  display: block;
}
header ul li a.btn i {
  color: #ffffff;
  font-size: 18px;
}
header ul li .fb:hover {
  background: #1773EA;
}
header ul li .youtube:hover {
  background: #F70000;
}
header ul li .twitter:hover {
  background: #1C9CEA;
}
.navigation {
  position: absolute;
  top: 18.3%;
  left: 0;
  right: 0;
  background: #e6153e;
}
.navigation .navbar .navbar-nav {
  display: block;
}
.navigation .navbar .navbar-nav .nav-item {
  float: left;
  display: block;
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.navigation .navbar .navbar-nav .nav-item::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background: #222222;
}
.navigation .navbar .navbar-nav .nav-item .nav-link {
  padding: 20px 10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.navigation .navbar .navbar-nav .nav-item:last-child::after {
  display: none;
}
.navigation .navbar .navbar-nav .nav-item:hover .nav-link {
  background: #8b0707;
}
.about {
  padding: 70px 0;
  background: #202c2b;
}
.about h3 {
  font-weight: 600;
  font-size: 25px;
  margin: 30px 0;
  padding-bottom: 10px;
  position: relative;
  line-height: 1.8;
  color: #f1f1f1;
}
.about h3::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #e6153e;
  bottom: 0;
  left: 0;
}
.about p {
  font-weight: 500;
  font-size: 18px;
  color: #f1f1f1;
  line-height: 1.8;
}
.study {
  padding: 90px 0;
}
.study .book {
  padding: 20px;
  background: #e6153e;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 75%;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.study .book .book_img {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #f1f1f1;
  display: inline-block;
  overflow: hidden;
  height: 160px;
  margin-bottom: 30px;
}
.study .book .book_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.study .book .book_text {
  padding-bottom: 15px;
  text-align: center;
}
.study .book .book_text h4 {
  font-size: 20px;
  font-weight: 600;
  color: #f1f1f1;
}
.study .book:hover {
  -webkit-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
}
.videos {
  background: #f8f8f8;
  padding: 90px 0;
}
.videos .btn_set {
  margin-bottom: 45px;
}
.videos .btn_set .vid_btn {
  padding: 10px 20px;
  width: auto;
  margin: 0 25px;
  font-size: 18px;
  font-weight: 300;
  float: left;
}
.videos .btn_set .vid_btn[aria-expanded="true"] {
  background: #e6153e;
  border: 1px solid #e6153e;
  color: #f1f1f1;
}
.videos .btn_set .vid_btn[aria-expanded="false"] {
  color: #222222;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
}
.videos .video_pan .single-video {
  width: 100%;
  height: 250px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.videos .video_pan .single-video:hover {
  -webkit-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
}
.videos .accordion-collapse {
  border: 0;
}
.videos .accordion-button::after {
  display: none;
}
.videos .collapsing {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.ibadat {
  padding: 90px 0;
}
.ibadat .business_set,
.ibadat .btn_set {
  margin-bottom: 45px;
}
.ibadat .business_set .filt_btn,
.ibadat .btn_set .filt_btn {
  padding: 10px 20px;
  width: auto;
  margin: 0 15px;
  font-size: 18px;
  font-weight: 300;
  float: left;
  background: #ffffff;
  color: #222222;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #222222;
}
.ibadat .business_set .filt_btn:hover,
.ibadat .btn_set .filt_btn:hover {
  -webkit-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
}
.ibadat .business_set .filt_btn:first-child,
.ibadat .btn_set .filt_btn:first-child {
  margin-left: 0;
}
.ibadat .business_set .filt_btn:last-child,
.ibadat .btn_set .filt_btn:last-child {
  margin-right: 0;
}
.ibadat .business_set .active.filt_btn,
.ibadat .btn_set .active.filt_btn {
  background: #e6153e;
  color: #f1f1f1;
  border: 1px solid #e6153e;
  -webkit-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
}
.ibadat .article_box .grid-item {
  padding: 12px;
}
.ibadat .article_box .article {
  background: #f8f8f8;
  width: 100%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  padding: 25px 15px;
}
.ibadat .article_box .article .art_title {
  margin: 15px 0;
  padding-bottom: 15px;
  text-align: center;
  position: relative;
}
.ibadat .article_box .article .art_title::after {
  position: absolute;
  content: '';
  bottom: 0;
  width: 75%;
  height: 2px;
  background: #e6153e;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.ibadat .article_box .article .art_title h4 {
  font-size: 20px;
  font-weight: 500;
  color: #222222;
  line-height: 1.8;
}
.ibadat .article_box .article .art_text {
  text-align: left;
  margin-left: 10px;
}
.ibadat .article_box .article .art_text p {
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  line-height: 1.8;
}
.ibadat .article_box .article .more {
  position: absolute;
  bottom: -10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 12;
  left: 0;
  right: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  width: 100%;
  height: 70px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.67)), color-stop(21%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
}
.ibadat .article_box .article .more a {
  padding: 5px 10px;
  color: #222222;
  border: 1px solid #222222;
  font-weight: 600;
  font-size: 16px;
  margin-left: 50%;
  margin-top: 4%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.ibadat .article_box .article .more a:hover {
  background: #e6153e;
  border: 1px solid #e6153e;
  color: #ffffff;
}
.ibadat .article_box .article:hover {
  -webkit-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
}
.ibadat .article_box .article:hover .more {
  bottom: 0;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.business {
  background: #f1f1f1;
  padding: 90px 0;
}
.business .bus_btn {
  border: 1px solid #222222;
  margin-top: 40px;
}
.business .bus_btn .steps {
  width: 100%;
  border-bottom: 1px solid #e6153e;
}
.business .bus_btn .steps button.tab_btn {
  padding: 10px 20px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  line-height: 1.8;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.business .bus_btn .steps button.tab_btn:hover {
  -webkit-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  background: #cccccc;
}
.business .bus_btn .steps button.tab_btn[aria-expanded="false"] {
  color: #222222;
  background: #f1f1f1;
}
.business .bus_btn .steps button.tab_btn[aria-expanded="true"] {
  color: #f1f1f1;
  background: #e6153e;
}
.business .bus_btn .steps .accordion-button::after {
  display: none;
}
.business .articles {
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 20px;
  background: #f8f8f8;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}
.business .articles .business_title {
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.business .articles .business_title::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 70%;
  height: 2px;
  background: #e6153e;
}
.business .articles .business_title h4 {
  color: #222222;
  text-align: center;
  line-height: 1.8;
  font-size: 20px;
}
.business .articles .author {
  margin: 10px 0;
}
.business .articles .author h5 {
  font-size: 18px;
  line-height: 1.8;
  color: #222222;
}
.business .articles .author h5 .date {
  color: #e6153e;
  font-size: 16px;
}
.business .articles .business_text p {
  font-size: 14px;
  color: #222222;
  line-height: 1.2;
}
.business .articles .more {
  position: absolute;
  bottom: -10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 12;
  left: 0;
  right: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  width: 100%;
  height: 70px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.67)), color-stop(21%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
}
.business .articles .more a {
  padding: 5px 10px;
  color: #222222;
  border: 1px solid #222222;
  font-weight: 600;
  font-size: 16px;
  margin-left: 50%;
  margin-top: 4%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.business .articles .more a:hover {
  background: #e6153e;
  border: 1px solid #e6153e;
  color: #f1f1f1;
}
.business .articles:hover {
  -webkit-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
}
.business .articles:hover .more {
  bottom: 0;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.publish {
  padding: 90px 0;
}
.publish .books {
  background: #969595;
  margin-bottom: 30px;
  width: 100%;
  height: 400px;
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.publish .books img {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  height: 100%;
}
.publish .books .details {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(240, 248, 255, 0.7);
  top: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
}
.publish .books .details .book {
  text-align: center;
  width: 100%;
  display: block;
  position: absolute;
  font-size: 30px;
  color: #e6153e;
  top: 50%;
  transform: translateY(-50%);
}
.publish .books:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.publish .books:hover .details {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.form {
  padding: 90px 0;
  background: #f1f1f1;
}
.form .btn {
  padding: 15px 30px;
  margin-top: 15px;
  color: #e6153e;
  background: #ffffff;
  border: 1px solid #e6153e;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.form .btn:hover {
  color: #f1f1f1;
  background: #e6153e;
  border: 1px solid #e6153e;
}
footer {
  padding: 90px 0 10px;
  background: rgba(33, 33, 33, 0.7);
  color: #f1f1f1;
}
footer h4 {
  margin-bottom: 30px;
  color: #ffffff;
  text-decoration: underline;
  font-size: 24px;
}
footer .first_sec form {
  margin-bottom: 30px;
}
footer .first_sec form button,
footer .first_sec form input {
  padding: 5px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #ffffff;
  font-size: 14px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
footer .first_sec form button {
  color: #e6153e;
}
footer .first_sec form button:hover {
  background: #e6153e;
  border: 1px solid #e6153e;
  color: #ffffff;
}
footer .first_sec .mail {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
footer .first_sec .mail:hover {
  text-decoration: underline;
}
footer .second_sec {
  width: 100%;
}
footer .second_sec .link_set {
  width: 100%;
  float: left;
  text-align: left;
}
footer .second_sec .link_set .links {
  width: 50%;
  float: left;
  margin-bottom: 10px;
}
footer .second_sec .link_set .links a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
footer .second_sec .link_set .links a:hover {
  text-decoration: underline;
}
footer .last_sec .pic_set .pics {
  width: 26%;
  margin: 15px;
  float: left;
  height: 108px;
  background: #cfc2c2;
}
footer .last_sec .pic_set .pics a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
footer .last_sec .pic_set .pics a .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  display: block;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background: rgba(0, 0, 0, 0.7);
}
footer .last_sec .pic_set .pics a .shade i {
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
footer .last_sec .pic_set .pics a:hover .shade {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
footer .last_sec .pic_set .pics a img {
  width: 100%;
  height: 100%;
}
footer .last_sec .pic_set .pics:nth-child(1),
footer .last_sec .pic_set .pics:nth-child(4),
footer .last_sec .pic_set .pics:nth-child(7) {
  margin-left: 0;
}
footer .last_sec .pic_set .pics:nth-child(3),
footer .last_sec .pic_set .pics:nth-child(6),
footer .last_sec .pic_set .pics:nth-child(9) {
  margin-right: 0;
}
footer .rights {
  margin-top: 90px;
  padding-top: 10px;
  border-top: 1px solid #222222;
}
.loader {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 100%;
  height: 100%;
}
.loader .loader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 123;
}
@media (max-width: 575.98px) {
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 18px;
    line-height: 1.3;
  }
  .h3,
  h3 {
    font-size: 1.5rem;
  }
  .p90 {
    padding: 40px 0;
  }
  header {
    padding-top: 10px;
  }
  header .logo_part {
    display: none;
  }
  header .name {
    margin: 10px 0;
  }
  header .date {
    font-size: 12px;
  }
  header ul {
    width: 30%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    float: none;
    padding: 10px 0;
  }
  header ul li {
    float: left;
    width: 33%;
  }
  header ul li a.btn {
    padding: 8px 12px;
  }
  .navigation {
    top: 20%;
  }
  .navigation .container-fluid {
    padding: 0;
  }
  .navigation .navbar .navbar-nav .nav-item .nav-link {
    text-align: center;
    padding: 12px 4px;
    font-size: 12px;
  }
  .fixed-header {
    top: 0;
  }
  .about {
    padding-bottom: 30px;
  }
  .about h3 {
    font-size: 22px;
  }
  .about p {
    font-size: 14px;
  }
  .title::before {
    width: 16%;
  }
  .study .book {
    height: 240px;
    width: 100%;
  }
  .study .book .book_img {
    width: 100%;
    height: 160px;
    margin-bottom: 15px;
  }
  .study .book .book_text {
    padding-bottom: 0;
  }
  .study .book .book_text h4 {
    font-size: 14px;
  }
  .ibadat .business_set,
  .ibadat .btn_set {
    margin-bottom: 15px;
  }
  .ibadat .business_set .filt_btn,
  .ibadat .btn_set .filt_btn {
    padding: 5px 10px;
    margin: 10px;
    font-size: 14px;
  }
  .ibadat .article_box .article {
    padding: 20px 10px;
  }
  .ibadat .article_box .article .art_title {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .ibadat .article_box .article .art_title h4 {
    font-size: 14px;
  }
  .ibadat .article_box .article .art_text p {
    font-size: 12px;
  }
  .business .bus_btn {
    border: 0;
    margin-top: 0;
  }
  .business .bus_btn .steps {
    float: left;
    width: auto;
  }
  .business .accordion-item {
    margin-top: 25px;
  }
  .business .articles .business_title h4 {
    font-size: 16px;
  }
  .business .articles .author h5 {
    font-size: 14px;
  }
  .business .articles .author h5 .date {
    font-size: 10px;
  }
  .business .articles .business_text p {
    font-size: 12px;
  }
  .form .btn {
    padding: 8px 14px;
  }
  footer {
    padding-top: 40px;
  }
  footer h4 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  footer .first_sec,
  footer .second_sec,
  footer .last_sec {
    margin-top: 15px;
  }
  footer .first_sec .mail {
    font-size: 14px;
    margin-left: 25%;
  }
  footer .first_sec form {
    margin-bottom: 10px;
  }
  footer .last_sec .pic_set .pics {
    width: 26%;
    height: 55px;
  }
}
