@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
  object-fit: contain;
}
.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
span,
i,
input,
form,
img,
a,
label,
.navbar,
.btn {
  padding: 0;
  margin: 0;
}
.banner {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.abs {
  position: absolute;
  content: '';
}
.title {
  position: relative;
  padding-bottom: 35px;
  margin-bottom: 30px;
  text-align: center;
}
.title::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 20%;
  height: 3px;
  background: #e6153e;
}
.title::before {
  position: absolute;
  content: '';
  bottom: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 30%;
  height: 3px;
  background: #e6153e;
}
body {
  overflow-x: hidden;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 28px;
  color: #f0f8ff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.8;
  font-weight: 600;
}
header {
  background: #2f4f4f;
}
header .logo_part {
  padding-top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
header .logo_part .logo {
  width: 100%;
  height: 100%;
}
header .date {
  text-align: center;
  color: #ffffff;
}
header ul {
  float: right;
  padding: 10px 0;
  background: #778899;
}
header ul li {
  background: #778899;
}
header ul li a.btn {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  padding: 8px 20px;
  display: block;
}
header ul li a.btn i {
  color: #ffffff;
  font-size: 18px;
}
header ul li .fb:hover {
  background: #1773EA;
}
header ul li .youtube:hover {
  background: #F70000;
}
header ul li .twitter:hover {
  background: #1C9CEA;
}
.navigation {
  background: #e6153e;
}
.navigation .navbar .navbar-nav {
  display: block;
}
.navigation .navbar .navbar-nav .nav-item {
  float: left;
  display: block;
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.navigation .navbar .navbar-nav .nav-item::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background: #222222;
}
.navigation .navbar .navbar-nav .nav-item .nav-link {
  padding: 20px 10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.navigation .navbar .navbar-nav .nav-item:last-child::after {
  display: none;
}
.navigation .navbar .navbar-nav .nav-item:hover .nav-link {
  background: #8b0707;
}
.about {
  padding: 70px 0;
  background: #202c2b;
}
.about h3 {
  font-weight: 600;
  font-size: 25px;
  margin: 30px 0;
  padding-bottom: 10px;
  position: relative;
  line-height: 1.8;
  color: #f1f1f1;
}
.about h3::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #e6153e;
  bottom: 0;
  left: 0;
}
.about p {
  font-weight: 500;
  font-size: 18px;
  color: #f1f1f1;
  line-height: 1.8;
}
.study {
  padding: 90px 0;
}
.study .book {
  padding: 20px;
  background: #e6153e;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 75%;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.study .book .book_img {
  width: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #f1f1f1;
  display: inline-block;
  overflow: hidden;
  height: 160px;
  margin-bottom: 30px;
}
.study .book .book_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.study .book .book_text {
  padding-bottom: 15px;
  text-align: center;
}
.study .book .book_text h4 {
  font-size: 20px;
  font-weight: 600;
  color: #f1f1f1;
}
.study .book:hover {
  -webkit-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
}
.videos {
  background: #f8f8f8;
  padding: 90px 0;
}
.videos .btn_set {
  margin-bottom: 45px;
}
.videos .btn_set .vid_btn {
  padding: 10px 20px;
  width: auto;
  margin: 0 25px;
  font-size: 18px;
  font-weight: 300;
  float: left;
}
.videos .btn_set .vid_btn[aria-expanded="true"] {
  background: #e6153e;
  border: 1px solid #e6153e;
  color: #f1f1f1;
}
.videos .btn_set .vid_btn[aria-expanded="false"] {
  color: #222222;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
}
.videos .video_pan .single-video {
  width: 100%;
  height: 250px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.videos .video_pan .single-video:hover {
  -webkit-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
}
.videos .accordion-collapse {
  border: 0;
}
.videos .accordion-button::after {
  display: none;
}
.videos .collapsing {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.ibadat {
  padding: 90px 0;
}
.ibadat .business_set,
.ibadat .btn_set {
  margin-bottom: 45px;
}
.ibadat .business_set .filt_btn,
.ibadat .btn_set .filt_btn {
  padding: 10px 20px;
  width: auto;
  margin: 0 25px;
  font-size: 18px;
  font-weight: 300;
  float: left;
  background: #ffffff;
  color: #222222;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #222222;
}
.ibadat .business_set .filt_btn:hover,
.ibadat .btn_set .filt_btn:hover {
  -webkit-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
}
.ibadat .business_set .active.filt_btn,
.ibadat .btn_set .active.filt_btn {
  background: #e6153e;
  color: #f1f1f1;
  border: 1px solid #e6153e;
  -webkit-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
}
.ibadat .article_box .article {
  background: #f8f8f8;
  width: 100%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  padding: 25px 15px;
  margin-bottom: 30px;
}
.ibadat .article_box .article .art_title {
  margin: 15px 0;
  padding-bottom: 15px;
  text-align: center;
  position: relative;
}
.ibadat .article_box .article .art_title::after {
  position: absolute;
  content: '';
  bottom: 0;
  width: 75%;
  height: 2px;
  background: #e6153e;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.ibadat .article_box .article .art_title h4 {
  font-size: 20px;
  font-weight: 500;
  color: #222222;
  line-height: 1.8;
}
.ibadat .article_box .article .art_text {
  text-align: left;
  margin-left: 10px;
}
.ibadat .article_box .article .art_text p {
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  line-height: 1.8;
}
.ibadat .article_box .article .more {
  position: absolute;
  bottom: -10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 12;
  left: 0;
  right: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  width: 100%;
  height: 70px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.67)), color-stop(21%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.67) 0%, #ffffff 21%, #ffffff 100%);
}
.ibadat .article_box .article .more a {
  padding: 5px 10px;
  color: #222222;
  border: 1px solid #222222;
  font-weight: 600;
  font-size: 16px;
  margin-left: 50%;
  margin-top: 4%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.ibadat .article_box .article .more a:hover {
  background: #e6153e;
  border: 1px solid #e6153e;
  color: #f1f1f1;
}
.ibadat .article_box .article:hover {
  -webkit-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
}
.ibadat .article_box .article:hover .more {
  bottom: 0;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.business {
  background: #f1f1f1;
  padding: 90px 0;
}
.business .bus_btn .steps {
  width: 100%;
}
.business .bus_btn .steps button.tab_btn {
  padding: 10px 20px;
  text-align: center;
  color: #222222;
  width: 100%;
  font-size: 18px;
  line-height: 1.8;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.business .bus_btn .steps button.tab_btn:hover {
  -webkit-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 23px -10px rgba(0, 0, 0, 0.75);
  background: #cccccc;
}
.business .articles {
  width: 100%;
  padding: 15px 10px;
}
.business .articles .business_title {
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.business .articles .business_title::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 70%;
  height: 2px;
  background: #e6153e;
}
.business .articles .business_title h4 {
  color: #222222;
  text-align: center;
  line-height: 1.8;
  font-size: 20px;
}
.business .articles .author {
  margin: 10px 0;
}
.business .articles .author h5 {
  font-size: 18px;
  line-height: 1.8;
  color: #222222;
}
.business .articles .author h5 .date {
  color: #e6153e;
  font-size: 16px;
}
